@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Some external configurations */
.module-website {
    display: block !important;
}

#g-container-main #g-navigation {
    box-shadow: none;
}

#g-container-main #g-navigation .g-container .g-grid:first-child {
    box-shadow: 0px 1px 2px 0px #bfbfbf;
}

#g-container-main #g-navigation .g-container .g-dropdown-column .g-grid {
    box-shadow: none;;
}

#g-container-main #g-navigation .module-website .g-content,
#g-container-main #g-navigation .module-website .g-container {
    padding: 0px !important;
}

/* Banner */
.banner-website {
    display: flex;
    height: 256px;
    overflow: hidden;
}

.banner-website img {
    object-fit: cover;  /* Or fill */
    object-position: center;
    width: 100%;
}

/* Menu */
.website {
    background-color: #002E6E;
}

.website .menu-website {
    height: 36px;
    display: flex;
    align-items: center;
}

.website nav {
    width: 100%;
}

.website nav .g-toplevel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    padding-left: calc(1.5rem * 0.5 + 40px);
    padding-right: calc(1.5rem * 0.5 + 40px);
    width: 100%;
}

.website .g-menu-parent-indicator,
.website .g-menu-item-title {
    font-family: 'Inter', sans-serif !important;
    color: #FAFBFC !important;
    text-align: center;
}

.website .g-dropdown .g-menu-parent-indicator,
.website .g-dropdown .g-menu-item-title {
    color: inherit !important;
    font-size: inherit;
    line-height: inherit;
}

.website .g-menu-item-container {
    display: flex;
    align-items: center;
}

.website .g-menu-parent-indicator {
    margin-left: 4px;
}

.website .g-main-nav .g-toplevel > li.g-menu-item {
    margin-top: 0 !important;
}

@media screen and (max-width: 768px) {
    .website nav .g-toplevel {
        flex-direction: column;
    }

    .website .menu-website {
        height: 100%;
    }
}